//Naming the variable appropriately

$color-bg-main: #d9ed92;
$color-button-primary: #001A23;
$color-button-secondary: #B3EFB2;
$color-gradient-start: #52b69a;
$color-gradient-end: #184e77;
$color-font-primary:white;
$color-font-secondary:black;
