.main{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:1rem;

    padding:1rem;
}

.ccontainer{
    min-height: 80vh;
    width:50%;
    padding:1rem;
    border:thin solid black;
}

.acontainer{
    min-height: 80vh;
    width:50%;
    padding:1rem;
    border:thin solid black;
}


.container h2{
    text-align: center;
}

.item{
    display:flex;
    justify-content: space-between;

    padding:0.75rem;
    border:thin solid black;
}

.btn{
    color:brown;
    background-color: beige;

    padding:0.5rem 1rem;
    border:thin solid black;
    border-radius:4px;

    &:hover{
        color:beige;
        background-color:brown;
    }

}