
.container{
    display:flex;
    justify-content: center;

    padding:1rem;
}

.btn{
    color:beige;
    background-color: brown;

    padding:0.5rem 1rem;
    border:thin solid black;
    border-radius:4px;

    &:hover{
        color:brown;
        background-color: burlywood;
    }
}