/* Styles for SideNav */ 

.SideNavContainer{
    // min-height: 100vh;
    display:flex;
    flex-direction: column;

    justify-content: center;

    gap:1rem;
    // align-items: center;


    padding:1rem;
    width:100%;
}
