/* Styles for Tools */

.ToolsPage {
    display: grid;
    grid-template-rows: 1fr auto;

    .ToolsOperations {
        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 1rem;

        .Form{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:1rem;
        }
    }

    .ToolsContainer {
        display: grid;
        grid-template-columns: repeat(4, 2fr);
        gap:1rem;

        padding:1rem;
        // width:80%;

        
        .ToolsCard {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // align-items: center;

            padding: 1rem;
            border: thin solid black;

            position: relative;

            img{
                width:60%;
            }

            .Images{
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                position:absolute;
                top:0;
                right:0;

                padding:0.5rem;

                img{
                    width:20px;
                    
                }
            }

        }

    }

}